<div class="container-fluid">
  <div class="row vh-100">

    <!-- Left Image -->
    <div class="col-md-6 p-0 d-flex align-items-center justify-content-center bg-image-container">
      <img src="/PetPic.png" class="login-image" />
    </div>

    <!-- Right Login Form -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="login-box p-5 shadow-sm rounded-4">

        <div class="text-center mb-4">
          <h3>
            Welcome Back, Pet Lover!
            <i class="fa-solid fa-paw"></i>
          </h3>
          <p class="text-muted">
            Login to reunite with your furry friends
          </p>
        </div>

        <!-- FORM -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <!-- Email -->
          <label class="mb-1">Email Address</label>
          <input
            type="email"
            class="form-control mb-3"
            placeholder="paw@gmail.com"
            formControlName="Username"
          />

          <!-- Password -->
          <label class="mb-1">Password</label>
          <input
            type="password"
            class="form-control mb-3"
            placeholder="********"
            formControlName="Password"
          />

          <!-- Remember + Forgot -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <input type="checkbox" id="remember" />
              <label for="remember"> Remember me</label>
            </div>
            <a href="#" class="text-decoration-none">
              Forgot Password?
            </a>
          </div>

          <!-- Login Button -->
          <button
            type="submit"
            class="btn login-btn w-100"
            [disabled]="loginForm.invalid">
            Login
          </button>

          <!-- Signup -->
          <a routerLink="/signup" class="d-block text-center mt-3">
            New to Pet Society? Join Us
          </a>

        </form>

      </div>
    </div>

  </div>
</div>
