<div class="container py-5">

  
  <div class="card shadow-sm mb-4 account-header">
    <div class="card-body d-flex justify-content-between align-items-center">

      <div class="d-flex align-items-center gap-3">
        <div class="avatar-circle">D</div>

        <div>
          <h5 class="mb-1">Welcome back, Danaggg!</h5>

          <div class="text-muted small d-flex gap-3">
            <span>
              <i class="bi bi-envelope"></i>
              danashalabieh@gmail.com
            </span>

            <span>
              <i class="bi bi-calendar"></i>
              Member since December 2025
            </span>
          </div>
        </div>
      </div>

  
<a
  class="signout-link"
  routerLink="/login"
  (click)="logout($event)">
  Sign Out
</a>

    </div>
  </div>

  
  <div class="row g-4">

   
    <div class="col-lg-8">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h6 class="fw-bold">No Active Subscription</h6>

          <p class="text-muted">
            You don't have an active subscription yet.
            Subscribe to Pet Society + to get monthly care packages for your pets!
          </p>

         <button class="ps-btn"   routerLink="/PetSocietyPlus">
  <i class="bi bi-box"></i>
  View Plans
</button>

        </div>
      </div>
    </div>

    
    <div class="col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="fw-bold mb-3">Quick Stats</h6>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center gap-2">
              <span class="icon-circle bg-success">
                <i class="bi bi-box"></i>
              </span>
              Subscriptions
            </div>
            <span>0</span>
          </div>

          <hr />

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
              <span class="icon-circle bg-warning">
                <i class="bi bi-heart"></i>
              </span>
              Adopted Pets
            </div>
            <span>0</span>
          </div>

        </div>
      </div>
    </div>

    
    <div class="col-12">
      <div class="card shadow-sm text-center py-5">
        <h5 class="fw-bold mb-3">Adopted Pets</h5>

        <div class="empty-state mb-3">
          <i class="bi bi-heart"></i>
        </div>

        <p class="text-muted">
          You haven't adopted any pets yet
        </p>

    <button class="ps-btn adopt-btn" routerLink="/Adoption">
  Browse Pets for Adoption
</button>


      </div>
    </div>

  </div>
</div>
