<link rel="stylesheet" href="app.css">
<div class="navbar-bg"> 
<nav class="custom-navbar">
  <div class="nav-left">
    <span class="brand"><i class="fa-solid fa-paw"></i> Pet Society</span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/Adoption" routerLinkActive="active">Adoption</a></li>
  <li><a routerLink="/PetSocietyPlus" routerLinkActive="active">Pet society+</a></li>
    <li><a routerLink="/community" routerLinkActive="active">Community</a></li>
    <li><a routerLink="/lost-found" routerLinkActive="active">Lost&Found</a></li>
  </ul>

  <nav class="Right-nav">

  <!-- إذا المستخدم مش مسجّل -->
  <a
    *ngIf="!auth.isLoggedIn()"
    routerLink="/signup"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="sign-up"
  >
    Sign up
  </a>

  <a
    *ngIf="!auth.isLoggedIn()"
    routerLink="/login"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="login-btn"
  >
    Login
  </a>

  <!-- إذا المستخدم مسجّل -->
  <a
    *ngIf="auth.isLoggedIn()"
    routerLink="/account"
    routerLinkActive="active"
    class="account-btn"
  >
    Account
  </a>

</nav>

  </nav>
</div>

<div class="main-content">
<router-outlet></router-outlet>
</div>
<footer class="bg-light py-5 mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="mb-3">About Pet Society</h5>
        <p class="text-muted">
          Your all-in-one pet platform connecting pet lovers, facilitating adoptions, and providing essential pet care services.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Adoption Process</a></li>
          <li><a href="#" class="footer-link">Service Packages</a></li>
          <li><a href="#" class="footer-link">Community Guidelines</a></li>
          <li><a href="#" class="footer-link">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-envelope me-2"></i>
            petsociety@gmail.com
          </li>
          <li>
            <i class="bi bi-telephone me-2"></i>
            +(962) 7 1234 5678
          </li>
          <li>
            <i class="bi bi-geo-alt me-2"></i>
           Amman, Jordan
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center text-muted pt-2">
      © 2025 Pet Society. All rights reserved. Made with <span style="color:#EB2F6A;">♥</span> for pets.
    </div>
  </div>
</footer>


