
      <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="p-4 shadow rounded bg-white" style="width: 350px;">
    <h3 class="text-center mb-4">Welcome Back , Pet Lover!</h3>
    <h5 class="text-center mb-4"> Login to reunite with your furry friends</h5>

    <form>
      <div class="mb-3">
        <label>Email Address</label>
        <input type="email" class="form-control" placeholder="Paw@Gmail.com">
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="*********">
      </div>

      <button class="btn btn-primary w-100 mt-2">Login</button>

      <a href="./signup" class="d-block text-center mt-3">New to Pet Society? Join Us</a>
    </form>
  </div>
</div>
